fastapi==0.100.0
uvicorn==0.23.2
nest-asyncio==1.5.6
pyngrok==5.2.2
spacy==3.6.0
transformers==4.34.0
SpeechRecognition==3.10.0
pydub==0.25.1
python-dotenv==1.0.0
python-multipart==0.0.6
numpy==1.25.2
pandas==2.1.2
scikit-learn==1.4.0
